/***** GLOBALS *****/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a:link, a:visited, a:active {
    color: white;
}

a:hover {
    color: #9172ae;
}

.font-gimlet-reg {
    font-family: gimlet-display,serif;
    font-weight: 400;
    font-style: normal;
}

.font-gimlet-bold {
    font-family: gimlet-display,serif;
    font-weight: 700;
    font-style: normal;
}

.font-gimlet-cond {
    font-family: gimlet-display-condensed, serif;
    font-weight: 400;
    font-style: normal;
}

.font-gimlet-cond-bold {
    font-family: gimlet-display-condensed, serif;
    font-weight: 700;
    font-style: normal;
}

.font-bodega-light {
    font-family: bodega-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-bodega-black {
    font-family: bodega-sans,sans-serif;
    font-weight: 800;
    font-style: normal;
}

.section-title {
    padding: .5em 0;
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.section-title a {
    text-decoration: none;
}

.mobile-links {
    display: none;
}

.nav-link {
    text-decoration: none;
    padding: 0 3em;
    font-size: 24px;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.title-bar {
    background-color: black;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 9.5vh;
    padding-top: 0.5vh;
}

.header-logo {
    height: 6vh;
}

.footer {
    display: flex;
    background-color: black;
    height: 2em;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    height: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: white;
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
}

/***** MAIN SITE STYLES HERE*****/

.hero {
    height: 90vh;
    background-image: url("img/hero-photo.webp");
    background-size: cover;
    background-position: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    max-height: 3.5em;
    height: 5vh;
    text-align: center;
    background-color: #9172ae;
    opacity: 90%;
}

#mobile-banner {
    display: none;
}

.banner-text-anchor {
    text-decoration: none;
}

.banner-text-anchor:hover {
    color: black;
}

#banner-text {
    font-size: 2vh;
}

.mobile-photo {
    display: none;
}

.music-section {
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #38373d;
    background-image: linear-gradient(#38373d, 2c2b30)
}

.music-video {
    padding-bottom: 3em;
}

.music-icons {
    display: flex;
    width: 100vw;
    justify-content: center;
    column-gap: 1em;
    padding-bottom: 2em;
}

.music-icons a:hover {
    --webkit-filter: invert(1);
    filter: invert(1);
}

.music-icons img {
    width: 5em;
}

.press-music-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 2em;
}

.press-music-icons img {
    width: 5em;
}

.press-music-icons a:hover {
    --webkit-filter: invert(1);
    filter: invert(1);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img//about-photo.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    /* height: 100vh; */
}

.mobile-about-photo {
    display: none;
}

.about-text {
    display: flex;
    justify-content: center;
}

.about-box {
    margin-top: 25vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    color: white;
    padding: 1em;
    border-radius: 1em;
    height: fit-content;
    margin-bottom: 3em;
}

.about-section h2 {
    padding-top: 2em;
    color: white;
}

.index-social-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0 1em 0;
    justify-content: center;
    width: 100%;
}

.index-social-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    justify-content: center;
    width: 100%;
}

.index-social-links li {
    width: 3em;
}

.index-social-wrapper li a img {
    width: 100%;
}

#band-members {
    line-height: 1.25em;
}

/******* PRESS KIT STYLES START HERE *******/
#body-press {
    line-height: 1.5;
}

.press-section {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    align-items: center;
    width: 100%;
}

.press-width {
    max-width: 750px;
    row-gap: 1em;
}

.press-header {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}

.press-header-photo {
    width: 100%;
}

.press-header-quotes {
    display: flex;
    justify-content: space-between;
}

.quote {
    width: 25%;
    font-size: 18px;
}

.quote p {
    text-align: center;
}

.quote p strong {
    font-size: 18px;
}

p strong {
    font-size: 12px;
}

.press-bio {
    display: flex;
    flex-direction: column;
}

.press-photos {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.press-photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.press-photo-list a {
    width: 49%;
}

.photo-thumb {
    width: 100%;
}

.press-socials {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    min-width: 750px;
}

.press-social-links {
    display: flex;
    column-gap: 1em;
    justify-content: center;
}

.press-social-links li a img {
    width: 3em;
}

.press-social-links li:hover, .index-social-links li:hover {
    --webkit-filter: invert(1);
    filter: invert(1);
}

.press-music {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    min-width: 750px;
}

.press-plot h2 {
    display: none;
}

.music-player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player iframe {
    border: 0;
    width: 560px;
    height: 472px;
}

#press-music-player iframe {
    border: 0;
    width: 100%;
    height: 29.5em;
}

.press-videos {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    min-width: 750px;
}

.video-container { 
    position: relative;
    padding-bottom: 50%; 
    height: 0; 
    overflow: hidden;
    width: 100%;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.all-press-videos {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

/********** SHOW STYLES HERE *********/
#past-shows {
    width: 100vw;
    background-color: lightgray;
    padding-bottom: 3em;
}

#show-body {
    min-height: 100vh;
}

.past-shows-internal-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    width: 75vw;
}

.shows-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding-top: 2em;
}

.shows-divider {
    border-bottom: 2px solid gray;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    width: 750px;
}

.show-flyer {
    max-width: 375px;
}

.show-desc {
    text-align: left;
}

.show-desc b {
    font-weight: bold;
}

.show-name {
    text-align: center;
    font-weight: bold;
}

.past-show-img {
    display: flex;
    justify-content: center;
    width: 25%;
    min-width: 500px;
}

#shows-footer {
    position: fixed;
    bottom: 0;
}

#ticket-link {
    color: black;
    font-weight: 700;
}

.tour-dates {
    padding-bottom: 2em;
}

/***** MEDIA QUERIES BELOW *****/
@media only screen and (max-width: 768px) {

    .header-links {
        display: none;
    }

    .hero {
        display: none;
    }

    .banner {
        display: none;
    }

    #mobile-banner {
        display: flex;
    }

    .mobile-photo {
        display: block;
        background-image: linear-gradient(#2c2b30, #38373d);
    }

    .mobile-photo img {
        width: 100vw;
    }

    .mobile-links {
        display: flex;
        background-color: black;
        flex-wrap: wrap;
        row-gap: 0.5em;
        padding-bottom: 0.5em;
    }

    .mobile-link {
        width: 25%;
        text-align: center;
        text-decoration: none;
    }

    .music-video {
        width: 85%;
    }

    .music-video iframe {
        aspect-ratio: 16 / 9;
        width: 100%;
        height: 100%;
    }

    .music-player {
        display: none;
    }

    #music {
        padding: 0;
    }

    .about-box {
        width: 85%;
    }

    .about-section {
        background-image: url("img/wywcover.webp");
    }

    .about-box {
        margin-top: 1em;
    }

    .about-section h2 {
        padding-top: 1em;
    }

    .mobile-about-photo {
        display: block;
    }

    .mobile-about-photo img {
        width: 100%;
        border-radius: 1em;
    }

    /***** PRESS MEDIA QUERIES START HERE *****/
    .body-press {
        justify-content: center;
    }
    
    .press-section {
        width: 100%;
        justify-content: center;
    }

    .press-header {
        width: 90%;
    }

    .press-header-quotes {
        flex-direction: column;
        row-gap: 1em;
        justify-content: none;
        align-items: center;
    }

    .quote {
        width: 75%;
    }

    .press-social-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100vw;
    }

    .press-social-links li a img {
        width: 15vw;
    }

    .press-music {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        min-width: 0;
    }

    .press-music h2 {
        width: 90vw;
    }

    .press-socials {
        min-width: 0;
        max-width: 95vw;
        align-items: center;
    }

    .press-socials h2 {
        width: 90vw;
    }

    .press-width {
        width: 90vw;
    }

    #press-music-player iframe {
        width: 90vw;
        overflow: hidden;
    }

    .press-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        min-width: 0;
    }

    .press-videos h2 {
        width: 90vw;
    }

    .all-press-videos {
        align-items: center;
        width: 90vw;
        min-width: none;
    }

    .video-container {
        width: 100%;
        padding-bottom: 56.25%;
    }

    .video-container iframe {
        width: 100%;
    }

    /***** SHOWS MEDIA QUERIES *****/
    .past-show-img {
        min-width: 100%;
    }

    .past-show-img img {
        width: 100%;
    }

    .show-flyer {
        max-width: 85vw;
    }

    #shows-footer {
        position: unset;
        bottom: unset;
    }
}